:root{
    /* Primary */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    
    /* Neutral */
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    }
      
    body, *, ::after, ::before {
        padding: 0;
        margin: 0;
    }

    body {
        font-size: 18px;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
        }
        
    *{
        box-sizing: border-box;
        color: var(--grayishBlue);
        font-family: 'Public Sans', sans-serif;
    }
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    
    
    .nav_container {
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        min-height: 8vh;
        padding: 30px;
    }


    .midnav {
        display: flex;
        justify-content: center;
        width: 80%;
        letter-spacing: 2px;
    }
    
    /* Bottoms styling */
    .nav_right button, .col1 button, .nav_bottom button {
        border-radius: 30px;
        height: 45px;
        width: 200px;
        background: linear-gradient(50deg, var(--limeGreen), var(--brightCyan));
        border: 0 solid var(--white);
        font-weight: bold;
        color: var(--white);
    }
    
   
    .row {
        display: flex;
    }
    
    .col1 {
        flex: 50%;
    }
    
    .col1 * {
        padding: 10px 50px 10px 50px;
    }
    
    .col1 h1 {
        padding-top: 100px;
        letter-spacing: 5px;
    }
    
    p {
        line-height: 28px;
    }
    h2, h3, h4, h5, h6, p{
        margin: 40px auto 40px auto;
    }
    
    .col2 {
        flex: 50%;
        background-image: url(images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        /* background-size: 90% 80%; */
        /* display: flex;
        justify-content: center; */
        /* background-position: right -20px bottom -20px; */
    }

  
    
    
    .bottom_grid img {
        border-radius: 10px 10px 0px 0px;
        height: 200px;
        margin-bottom: 20px;
    }
    
    .bottom_section {
        background-color: var(--veryLightGray);
    }
    
    .bottom_grid {
        background-color: var(--white);
    }

    .bottom_grid p, .bottom_grid h6, .bottom_grid h5  {
        margin: 20px 18px 20px 18px;
    }

    .mid_section {
        padding: 50px 50px 10px 50px;
        background-color: var(--lightGrayishBlue);
    }

    .section_grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 20px;
    }
    
    .bottom_section {
        padding: 20px 50px 20px 50px;
    }
    .bottom_grid {
        
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 20px;
    }
    
    footer {
        display: flex;
        justify-content: space-around;
        background-color: var(--darkBlue);
        min-height: 250px;
        padding: 30px 10px 30px 10px;
    }
    
    
    .nav_footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* margin-left: 20px; */
        padding: 2px 50px 10px 50px;
    }
    .nav_footer li  {
        list-style: none;
    
    }
    .nav_footer a {
        text-decoration: none;
        line-height: 48px;
        color: var(--white);
    }
    
/* NAVBAR STYLING */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh; 
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    /* outline: 2px solid yellow; */

}

 .nav-links a {
    color: var(--grayishBlue);
    letter-spacing: 1px;
    font-weight: bold ;
    text-decoration: none;
    margin: 5px;
 }

li {
    list-style: none;
}

.burger div {
    display: none;
    width: 45px; 
    height: 2px;
    margin: 6px;
    background-image: url(images/icon-hamburger.svg);
  
}

#logo_bottom {
    filter: brightness(0) invert(1);
}
.logoicons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoicons img {
    margin: 10px;
}


    @media screen and (max-width: 768px) {

        article * {
            text-align: justify;
        }

    

        .nav-links {
            width: 90vw;
            height:40vh;
            display: flex;
            background-color: var(--white);
            position: absolute;
            top: 10vh;
            left: 5%; 
            line-height: 38px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            overflow-x: hidden;
        }

         .nav_right {
            display: none;
        }

        .nav-links li {
            opacity: 0;
        }

        .burger div {
            display: flex;
            cursor: pointer;
        }
       
        .col2 img {width: 100%;   
        }
    
        
        .row {
            flex-direction: column;
        }
        .col1 {
            flex: 100%;
            order: 2;
        }
    
        .col2 {
            flex: 100%;
            order: 1; 
            margin-bottom: 20px;
        }
        
        
        .col1 * {
            padding: 10px auto 10px auto;
            margin-bottom: 20px;
        }
        
        .col1 h1 {
            padding-top: 30px;
            letter-spacing: 5px;
        }
        
        .section_grid, .bottom_grid {
            display: flex;
            flex-direction: column;
        }
    
       .section_grid div, .navbar,.mid_section, .col1 {       
           text-align:center;
       }
        
       .bottom_section {
           margin-top: 20px;
           padding: 10px 30px 10px 30px;
       }
       
       .bottom_grid img {
        height: 100%;
        width: 100%;
    }
    .nav_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    
    footer {
        justify-content: center;
        align-items: center;
        padding: 10px 0px 10px 0px;
        line-height: 38px;
    }
    
    
   
    .footernav1, .nav_bottom {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }

    

.nav-active {
    transform: translateX(0%);
}

.intro-off {
    display: none;
}

.burger-cancel {
    background-repeat: no-repeat;
    background-image: url(images/icon-close.svg);
}


@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
